<nz-layout>
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: rgba(65, 37, 37, 0.882);">
    <div>
      <h2 style="color: white; padding-left: 10px;">Coffee Date</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</nz-layout>
